
/*ESTILO GERAL */
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
    height: 100vh;
    transition: .5s     
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e0003c;
    border: none;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: var(--secondary-color);
    font-size: 38px;
    text-align: center;
    font-weight: 600;
}

h2.sobre{
    font-weight: 600;
}

p{
    font-weight: 500;
}

/* Efeito no span */

span{
    background: linear-gradient(45deg, #e0003c, #861332, #da486f, #e0003c);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}
/* --------------------------------------------------------------- */
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 5px #e0003c;
    transform: scale(1.05);
}

/*ESTILO DO CABECALHO */

header{
    padding: 40px 4%;
}

nav{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    color: var(--secondary-color);
}

nav ul{
    margin-right:10px ;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover{
    color: #e0003c;
    transform: scale(1.05);
    transition: .2s;
}
/* MENU MOBILE */

.btn-abrir-menu i{
    color: #e0003c;
    font-size: 30px;
}

.btn-abrir-menu{
    display: none;
    margin-bottom: 5px;
}

.menu-mobile{
    background-color: var(--primary-color);
    height: 450px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.menu-mobile.abrir-menu{
    width: 40%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #e0003c;
    font-size: 30px;   
}

.menu-mobile nav ul li a{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 8%;
    display: block;
    text-align: center;
}

.menu-mobile nav ul li a:hover{
    background-color: #e0003c;
    color: var(--secondary-color);
    border-radius: 10px;
}

.menu-mobile .btn-fechar i{
    color: #e0003c;
    font-size: 30px;
}

.overlay-menu{
    background-color: #000000a4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* Estilo do topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center; 
    text-align: justify;
    gap: 90px;
}


.topo-do-site h1{
    color:var(--secondary-color);
    font-size: 42px;
    line-height: 40px;
    font-weight: 600;
}

.topo-do-site h2{
    color: #e0003c;
}

.topo-do-site .txt-top-site h1 span{
    color: #e0003c;
}

.topo-do-site .txt-top-site p{
    color:var(--secondary-color);
    margin: 20px 0;  
}

.btn-cv{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e0003c;
    border: none;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.topo-do-site .img-top-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* ESTILO DO SOBRE */

section.sobre{
    padding: 80px 4%;
    background-color: #2424241e;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color:var(--secondary-color);
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #e0003c;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0 10px 0;
    text-align: justify;
}

.sobre-btn .social a i{
    font-size: 28px;
    color:#e0003c;
    margin-top:2rem;
    margin-right: 15px;
    transition: 0.3s ease;    
}

.sobre-btn .social{
    margin-bottom: 10px;
}

.social a i:hover{
    transform: scale(1.05);
    filter:grayscale(25);
}

.img-sobre img{
    border-radius: 10px;
}

/* estilo dos servicos */

section.servicos{
    padding: 40px 4%; 
}

.servicos .subtitulo{
    padding-bottom: 40px;
}

section.servicos .flex{
    gap: 60px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servicos .servicos-box{
    color:var(--secondary-color);
    padding: 30px 30px;
    border-radius: 20px ;
    margin-top: 7px;
    transition: .2s;
    background-color: #2424241e;
    text-align: center;
    max-width: 350px;
}

.servicos .servicos-box:hover{
    transform: scale(1.05);
}

.servicos .servicos-box i{
    font-size: 70px;
    color: #e0003c;
}

.servicos .servicos-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.servicos-box a {
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 20;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 7px;
} 


/* Estilo do portfolio */

#portfolio{
    padding: 80px 0%;
    background-color: #2424241e;    
}

#portfolio h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.portfolio_all_card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio_card{
    width:360px;
    height: auto;
    margin-top: 20px;
    position: relative;
}
.portfolio_card img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 8px;
}
.portfolio_card_informacao{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: rgb(0, 0, 0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}
.portfolio_card_informacao:hover{
    opacity: 1;
    border-radius: 8px;
}
.portfolio_card_informacao>*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.portfolio_card_informacao:hover>*{
    transform: translateY(0px);
    
}
.portfolio_card_informacao h2{
    color:#fff;
    font-size: 25px;
}
.portfolio_card_informacao p{
    color:#fff;
}

.subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-weight: 600;
    font-size:20px ;
    margin-bottom: 30px;
}

.portfolio_card_informacao .button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #e0003c;
    color:#000;
    margin-top:5px;
    text-decoration: none;
}

.more_button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.more_button button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e0003c;
    border: none;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
.more_btn{
    font-size: 25px;
    background-color: #e0003c;
    color:#000;
    padding: 10px 30px;
    border-radius: 10px;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */

.contactForm{
    max-width: 1080px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 8%;
    
}

.contactForm .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}


.contactForm .input-box input,
.contactForm .input-box textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #e0003c;
    outline: none;
    resize: none;
    background-color: transparent;
    color: var(--secondary-color);
}

.contactForm .input-box  label{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.3s;  
}

form{
    max-width: 500px;
    height: 450px;
    padding: 40px;
}

form p{
    color: var(--secondary-color);
    text-align: center;
    margin: 6px 0;
}

.contactForm .input-box input:focus ~ label,
.contactForm .input-box input:valid ~ label,
.contactForm .input-box textarea:focus ~ label,
.contactForm .input-box textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
}

label{
    color: var(--secondary-color);
}

.btn-enviar{
    width: 100%;
    text-align: center;
}

.btn-enviar{
    color:  #000000; 
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #e0003c;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
}

/* Estilo do footer */

footer{
    background-color: #2424241e;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 3rem 1rem;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    margin-top: 80px;
}
footer .container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

footer p.txt{
    margin-bottom: 10px;
    margin-top: -12px;
}

footer h1{
    color:#4d4d4d;
}

.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color: var(--secondary-color);
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:#e0003c;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #e0003c;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   font-size: 24px; 
   color:#e0003c;
   margin-top:5px;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.05);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color: var(--secondary-color);
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #e0003c;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#e0003c;
}
.col .contact-detalhes{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-detalhes i{
    margin-top: 4px;
    margin-right:15px;
}

/*estilo scrollbar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #e0003c;
    border-radius: 30px;
    cursor:grab
}

/* Btn Voltar */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e0003c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
  }
  
  #myBtn:hover {
    transform: scale(1.05);
    transition: .4s;
  }

/* darkmode */

:root{
    --primary-color: #fff;
    --secondary-color: #000;
}

.dark-theme{
    --primary-color: #000;
    --secondary-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
}

#icon:hover{
    transform: scale(1.08);
    transition: .2s;
}

nav ul{
    flex: 1;
    text-align: right;
} 

form input[type=submit]{
    color:var(--secondary-color);
}

@media screen and (max-width: 1080px){
    /* Classe geral */
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
       flex-direction: column-reverse;
    }

    .topo-do-site h2{
        text-align: center;
    }

    .txt-top-site h1{
        text-align: center;
    }

    .sobre .flex{
       flex-direction: column-reverse;
    }

    /* Cabeçalho */
    section.topo-do-site .flex{
        gap: 40px;
    }

    header{
        padding: 10px 4%;
    }

    .logo{
        line-height: 27px;
    }

    .lateral{
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    .menu-desktop{
        display: none;
    }

    .btn-cv2{
        text-align: center;  
    }

    .btn-contato{
        text-align: center;
    }

    .btn-abrir-menu{
        display: block;
    }


    /* Topo do site */
    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .img-top-site img{
        width: 300px;
    }

    /* servicos */
    section.servicos{
        padding: 20px 8%;      
    }

    .servicos .flex .servicos-box{
        line-height: 20px;
        margin: 0;   
    }

    h2.titulo{
        font-size: 34px;
        line-height: 32px;
        margin-bottom: 32px;
        text-align: center;
    }

    /* Sobre */
    section.sobre{
        padding: 20 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 32px;
        text-align: center;
    }

    .sobre .txt-sobre{
        padding: 0 5%;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre{
        width: 85%;
        max-width: 450px;
        display: flex;
        justify-content: center;
    }

    .sobre-btn .social{
        text-align: center;
    }

    /* Portfolio */
    #portfolio{
        padding: 80px 8%;
    }


    /* Footer */

    footer .line-footer{
        text-align: center;
    }

    footer .flex{
        gap: 20px;
    }

    .row{
        flex-direction: column;
      }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
      }

    

      /* Formulário de contato */

      .formulario{
        margin-bottom: 50px;
      }  
}

/* Tabela */

.table-container {
    margin-bottom: 50px;
    overflow-x: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-table {
    max-width: 600px;
    width: 70%;
    border-collapse: collapse;
}

.portfolio-table th, .portfolio-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    word-break: break-all;
}

.portfolio-table th {
    color: var(--secondary-color);
    background-color: #2424241e;
}

.portfolio-table tr:nth-child(even) {
    background-color: transparent;
    color: var(--secondary-color);
}




